body {
  width: 100vw;
  background: #ccc;
}
.App {
  max-width: 1150px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 32px;
}